
Data school/.ipynb_checkpoints/03_Series_DataFrame-checkpoint.ipynb
Data school/.ipynb_checkpoints/09_multiple filter to pandas DF-checkpoint.ipynb
Data school/.ipynb_checkpoints/06_Columns_remove-checkpoint.ipynb
Data school/.ipynb_checkpoints/05_Columns_rename_DF-checkpoint.ipynb
Data school/.ipynb_checkpoints/04_Paranthesis-checkpoint.ipynb
Data school/.ipynb_checkpoints/10_question-checkpoint.ipynb
Data school/.ipynb_checkpoints/11_Axis parameter-checkpoint.ipynb
Data school/.ipynb_checkpoints/12_string methods-checkpoint.ipynb
